// variables
$color-white: #FAF8F5;
$color-green: #00D98B;


// styles
.font-vollkorn {
  font-family: 'Vollkorn', serif;
}

.font-size {
  &-14 {
    font-size: 14px;
  }
  &-16 {
    font-size: 16px;
  }
  &-24 {
    font-size: 24px;
  }
}

html {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2em;
  color: #717F94;
}

.active {
  transition: .15s;
  &-hovered {
    color: #FFFFFF;
    &-background {
      @extend .active-hovered;
      background: rgba(255, 255, 255, 0.03);
    }
  }
}

.active:hover {
  cursor: pointer;
  color: #FFFFFF;
}

